body {
  background-color: #202020;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 1em;

  .sidebar { 
    position: absolute;
    bottom: 10px;
    top: 10px;
    left: 10px;
    padding-left: 3%;
    min-height: 128px;
    min-width: 100px;
    width: 7vw;
    background-color: black;
    border-radius: 25px;
    overflow-y: auto;
    z-index: 999;
  }
  
  .main { 
    height: 100%;
    width: 55%; 
    position: fixed;
    left: 25%;
    padding-left: 16px;
    top: 0;
    padding-top: 24px;
    overflow-y: scroll;
    line-height: 150%;
  }

button {
  background-color: black;
  border: 0.1vw solid transparent;
  color: #11d43b;
  font-size: 1em;
  padding: 0.4vw;
  width: fit-content;
  border-radius: 6.5vw;
}

button:hover {
  color: #23babd;
  border: 0.1vw solid #23babd;
  padding: 0.4vw;
  transition: 0.25s;
}

  @media (orientation: portrait), (pointer:none), (pointer:coarse) {
    font-size: calc(16px + 1vw);
      
    .sidebar {
      top: auto;
      right: 10px;
      width: auto;
      padding-left: 10%;
      height: 25vh;
      font-size: 4.5vw;
      border-radius: 6.5vw;
    }
    
    .main {
      width: 84%;
      height: auto;
      max-height: 75%;
      padding-bottom: 16px;
      padding-right: 16px;
      left: 6.5%;
      margin-bottom: 16px;
    }
  }
}

a:link {
  color: #11d43b;
}

a:visited {
  color: #11d43b;
}

a:hover {
  color: #23badb;
  transition: 0.25s;
}

a:active {
  color: #28fce4;
} 

img {
  width: 100%;
}
