body {
  background-color: #202020;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 1em;

  .sidebar { 
    position: absolute;
    bottom: 10px;
    top: 10px;
    left: 10px;
    padding-left: 3%;
    min-height: 128px;
    min-width: 100px;
    width: 7vw;
    background-color: black;
    border-radius: 25px;
    overflow-y: auto;
    z-index: 999;
  }
  .main { 
      height: 100%;
      width: 55%; 
      position: fixed;
      left: 25%;
      padding-left: 16px;
      top: 0;
      padding-top: 24px;
      overflow-y: scroll;
      line-height: 150%;
  }

  @media (orientation: portrait) {
    font-size: 1.5em;
      
    .sidebar {
      top: auto;
      right: 10px;
      width: auto;
      padding-left: 7.5%;
      height: 25vh;
      font-size: 2em;
    }
    .main {
      width: 84%;
      height: auto;
      max-height: 75%;
      padding-bottom: 16px;
      padding-right: 16px;
      left: 8%;
      margin-bottom: 16px;
    }
  }
}

a:link {
  color: #18f06b;
}

a:visited {
  color: #11d43b;
}

a:hover {
  color: #23badb;
}

a:active {
  color: #28fce4;
} 

img {
    width: 100%;
}
